body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #ffe6f2;
  color: #333;
  scroll-behavior: smooth;
}

.container {
  text-align: center;
  padding: 50px 20px;
}

h1 {
  color: #ff4da6;
}

.btn {
  display: inline-block;
  margin: 15px;
  padding: 12px 20px;
  background-color: #ff99cc;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
}

.btn:hover {
  background-color: #ff4da6;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ff99cc;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 80px 20px;
  text-align: center;
}

.profile-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #ffb6c1;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.back {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 15px;
  background-color: #ff99cc;
  color: white;
  text-decoration: none;
  border-radius: 20px;
}
.back:hover {
  background-color: #ff4da6;
}
